.adv {
  padding: 100px 0;
}

.adv__desc {
  margin-bottom: 100px;
  padding: 90px 110px 100px;

  text-align: center;

  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
}

.adv__text {
  margin: 0;

  font-weight: 600;
  font-size: 32px;
  line-height: 38px;

  & span {
    color: $color-bg;
  }
}

.adv__list {
  display: flex;
  gap: 80px 185px;
  flex-wrap: wrap;
  justify-content: center;
}

.adv__item {
  display: flex;
  flex-direction: column;
  // width: 240px;
  max-width: 245px;
}

.adv__item-num {
  font-weight: 600;
  font-size: 80px;
  line-height: 64px;
  color: $color-link-hover;
}

.adv__item-text {
  max-width: 226px;
  margin-top: 6px;

  font-size: 18px;
  line-height: 22px;
}
