.btn {
  display: inline-block;
  padding: 18px 28px;

  font-family: $ff-main;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: $color-default-white;
  text-align: center;

  background-color: #adff2f;
  border: none;
  border-radius: $border-radius;

  transition: background-color $trans-default;

  cursor: pointer;

  @include hover-focus {
    background-color: $color-bg-hover;
  }

  @include active {
    opacity: 0.5;
  }

  @include disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--red {
    background-color: $color-error;
  }
}
