.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 70px;

  // @include media-max($vp-1440) {
  //   padding: 0 32px;
  // }
  // //
  // @include media-max($vp-1024) {
  //   padding: 0 24px;
  // }
  // //
  // @include media-max($vp-768) {
  //   padding: 0 16px;
  // }
}
